body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-layout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'products' 'cart' 'checkout';
  grid-gap: 32px;
  margin-bottom: 32px;
}
.product .product-image{
  height:150px;
  object-fit: contain;
}
.header{
  width:100%;
  height:100%;
  padding:0.5rem 1rem;
  box-sizing: border-box;
  background-color: white;
}
#root{
  background-color: #e8fce8;
}

@media (min-width: 800px) {
  .page-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'products products''cart checkout';
    grid-gap: 32px;
  }
  .product-image{
    height:180px;
  }
 }

.order-layout{
  width:50%;
}